.env
.idea
/system/argocd/Chart.lock
/system/argocd/charts/

.venv/
book/

*.iso
*.log
*.png
*.tgz
*kubeconfig.yaml
Chart.lock
/extra-apps/csi-s3/secret.yaml
/extra-apps/csi-s3/charts/
/platform/gitea/charts/
/extra-apps/csi-smb/secret.yaml
/extra-apps/csi-smb/charts/
/system/csi-nfs/charts/
